<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet"></link>

    <title>Industry Breakdown</title>
</head>
<body>

<canvas id="myChart"></canvas>

<div id="tableContainer" style="margin: auto; width: 50%;">
    <div id="tableHeading" align="center" style="margin: 10px;"></div>
    <div id="table"></div>
</div>

<script th:src="@{/js/industry-chart.js}"></script>
<script th:src="@{/js/general.js}"></script>

</body>
</html>